/*
 Custom syntax highlighting.
*/

// colours of code view

div.fragment {
    color: #bebebe;
    background-color: #323232;
}

div.fragment::before {
    background-color: #a0a0a0;
    border-right: 3px solid #1d7567;
}

div.line:hover {
    background-color: #1a1a1a;
}

span.lineno {
    color: black;
    background-color: #a0a0a0;
    border-right: 3px solid #1d7567;
}

span.lineno a, span.lineno a:visited {
    background-color: inherit;
    color: #1e595a;
}

span.lineno a:hover {
    background-color: #C8C8C8;
}


// syntax highlighting

a.code, a.code:visited {
    color: #2b81c8;
}

a.codeRef, a.codeRef:visited {
    color: #37a2ff;
}
 
span.keyword {
    color: #f93f6e;
    font-weight: bold;
}

span.keywordtype {
    color: #df7a1e;
}

span.keywordflow {
    color: #f93f6e;
    font-weight: bold;
}

span.comment {
    color: #afeeee;
    font-style: oblique;
}

span.preprocessor {
    color: #4eee94;
}

span.stringliteral {
    color: #ed3d3d;
}

span.charliteral {
    color: #bc3b3b;
}

blockquote {
    background-color: #F7F8FB;
    border-left: 2px solid #9CAFD4;
    margin: 0 24px 0 4px;
    padding: 0 12px 0 16px;
}
