/*
 Solarized dark syntax highlighting theme.
*/

$sol-base03:    #002b36;
$sol-base02:    #073642;
$sol-base01:    #586e75;
$sol-base00:    #657b83;
$sol-base0:     #839496;
$sol-base1:     #93a1a1;
$sol-base2:     #eee8d5;
$sol-base3:     #fdf6e3;
$sol-yellow:    #b58900;
$sol-orange:    #cb4b16;
$sol-red:       #dc322f;
$sol-magenta:   #d33682;
$sol-violet:    #6c71c4;
$sol-blue:      #268bd2;
$sol-cyan:      #2aa198;
$sol-green:     #859900;

// colours of code view

div.fragment {
    color: $sol-base00;
    background-color: $sol-base3;
}

div.fragment::before {
    background-color: $sol-base2;
    border-right: none;
}

div.line:hover {
    background-color: $sol-base2;
}

span.lineno {
    color: $sol-base1;
}

span.lineno a, span.lineno a:visited {
    background-color: inherit;
    color: $sol-base01;
}

span.lineno a:hover {
    background-color: $sol-base3;
}


// syntax highlighting

a.code, a.code:visited {
    color: $sol-blue;
}

a.codeRef, a.codeRef:visited {
    color: $sol-violet;
}
 
span.keyword {
    color: $sol-green;
    // font-weight: bold;
}

span.keywordtype {
    color: $sol-yellow;
}

span.keywordflow {
    color: $sol-green;
    font-weight: bold;
}

span.comment {
    color: $sol-base1;
    font-style: oblique;
}

span.preprocessor {
    color: $sol-orange;
}

span.stringliteral {
    color: $sol-red;
}

span.charliteral {
    color: $sol-red;
}

blockquote {
    background-color: #F7F8FB;
    border-left: 2px solid #9CAFD4;
    margin: 0 24px 0 4px;
    padding: 0 12px 0 16px;
}
